.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.row:nth-child(even) {
    background-color: #f2f2f2;
}

.row:nth-child(odd) {
    background-color: #fff;
}

.row td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.editButton {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.editButton:hover {
    background-color: #007bff;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 45%;

}

label {
    font-family: Arial, sans-serif;
    margin-right: 10px;
}

.searchButton {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.searchButton:hover {
    background-color: #007bff;
}

.editIcon {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    color: #0056b3;
    font-size: 20px;
}