.textTable {
    text-align: center;
    padding-left: 100px;
}

.centeredTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 50px;
}

.table th,
.table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}