.bodyRecursos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage h1 {
    margin-left: 250px;
}

.titlePage h2 {
    margin-right: 807px;
}

.titlePageColab h2 {
    margin-right: 625px;
}

.bodyRecursos p {
    font-size: 18px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    background: #0077b6;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.trigger {
    background-color: #0056b3;
    font-weight: bold;
    margin-left: 700px;

}

.trigger:hover {
    background-color: #007bff;
}

.colaboradorSection {
    position: relative;
}

.triggerColab {
    background-color: #0056b3;
    font-weight: bold;
    position: absolute;
    left: 700px;
    top: 10px;
}

.triggerColab:hover {
    background-color: #007bff;
}