.bodyRecursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.bodyRecursos h2 {
    font-size: 24px;
}

.bodyRecursos p {
    font-size: 18px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    background: #0077b6;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}