@font-face {
  font-family: 'Ketika  ';
  src: url(./fonts/KetikaSans-Regular.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: ketika, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}